<!DOCTYPE html>
<html>
  <head>
    <title>Mag Blast</title>

    <link data-retry-load="true" href='index.css' rel='stylesheet' type='text/css'>
    <link data-retry-load="true" href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' data-viewport-units-buggyfill="ignore">
  </head>

  <body>
    <div id="root">
    </div>

    <script src="index.min.js" charset="utf-8"></script>
    <% if (env === 'development') { %>
      <script src="//localhost:35729/livereload.js"></script>
    <% } %>
  </body>
</html>
